astroid==2.11.6
attrs==21.4.0
aws-lambda-powertools==1.26.3
aws-xray-sdk==2.10.0
boto3==1.24.28
boto3-stubs==1.24.31
botocore==1.27.28
botocore-stubs==1.27.31
dill==0.3.5.1
fastjsonschema==2.16.1
iniconfig==1.1.1
isort==5.10.1
jmespath==1.0.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mypy==0.961
mypy-extensions==0.4.3
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pylint==2.14.3
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
tomli==2.0.1
tomlkit==0.11.0
types-s3transfer==0.6.0.post1
typing_extensions==4.2.0
urllib3==1.26.10
wrapt==1.14.1
